.DS_Store

.dev/
.ext/

bin/

cover.out

# https://github.com/golang/go/issues/53502
# go.work.sum is machine specific and should not be checked in
go.work.sum

# model and manifest test files
model_test.json
model_test.yaml
manifest_test.json
manifest_test.yaml
